<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div  th:replace="res/res-template.html :: headFiles"></div>
    <title>Home</title>
</head>
<body>

<nav th:replace="res/res-template.html :: navBar"></nav>
<ul th:replace="res/res-template.html :: crud"></ul>
<!--    START HERE-->

<h1>Template running</h1>




<!--END HERE-->
<div class="my-5"></div>
<div th:replace="res/res-template.html :: footerr"></div>
<div th:replace="res/res-template.html :: scriptss"></div>
</body>
</html>